/* Include your style in here for all pages. 
Extra style for cssdemo.html can be added in cssdemo.css */

/* 


general styles 



*/

:root {
    --primary-color: #5c7aff;
    --secondary-color: #00bfff;
    --background-color: #f1f0fb;
    --text-color: #333;
}

.dark-mode {
    --primary-color: #00bfff;
    --secondary-color: #008080;
    --background-color: #333;
    --text-color: #f5f5f5;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    max-width: 80%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1600px;
}
main {
    margin-top: 5rem;
}

/*






header 




*/
header {
    padding: 1rem;
    text-align: center;
}
.logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.logo a {
    text-decoration: none;
}
/* navigation style */

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navbar li {
    margin-bottom: 0.625rem;
    list-style: none;
}

.navbar a {
    display: inline-block;
    padding: 0 0.4rem;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.8s ease;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.3rem;
    color: var(--secondary-color);
}

/* larger screens */
@media (min-width: 768px) {
    nav {
        padding: 1rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar {
        flex-direction: row;
        justify-content: center;
    }

    .navbar li {
        margin-right: 0.625rem;
        margin-bottom: 0;
    }

    .navbar a {
        width: auto;
        text-align: center;
    }
}
/* 




end of header 




*/

/* 




footer  






*/

.footer {
    background-color: rgb(241, 241, 241);
    padding: 1rem;
}

.footer__text {
    font-size: 0.875rem;
    color: #666;
    margin-bottom: 1rem;
    text-align: center;
}

.footer__button {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.footer__button:hover {
    color: #0056b3;
}

#dark-mode-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.footer__icon-link {
    display: block;
    margin-right: 1rem;
}

.footer__icon {
    width: 2rem;
    height: 2rem;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
    .footer__container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__text {
        text-align: left;
        margin-bottom: 0;
    }

    .footer__button {
        display: inline-block;
        margin: 0;
    }
}
/* 



end of footer 




*/

/*



Home Page 




*/

/* 



home- section one -----HERO



*/

#home-hero {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-hero img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#home-hero h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#home-hero p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

#home-hero a {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

#home-hero a:hover {
    background-color: #0056b3;
}
@media screen and (min-width: 768px) {
    #home-hero p {
        max-width: 70%;
        font-size: 1.5rem;
    }
}

/* 


    end of home- section one -----home-hero

*/

/*




home- section two -----home-services






*/
.home-services {
    margin: 2.5rem 0;
}

.home-services__heading {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.25rem;
}

.home-services__grid {
    padding: 0 2rem;
}

.home-services__item {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1.875rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
}

.home-services__subheading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.home-services__description {
    font-size: 1rem;
    line-height: 1.5;
}
@media screen and (min-width: 768px) {
    .home-services__grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .home-services__item:nth-child(4) {
        grid-area: 2 / 1 / 4 / 2;
    }

    .home-services__item:nth-child(5) {
        grid-area: 2 / 2 / 4 / 4;
    }
}

/* 

end of home- section two -----SERVICES

*/

/* 


home section three -----SkILLS




*/

.home-skills {
    max-width: 1500px;
    margin: 0 auto;
}

.home-skills__heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.home-skills__description {
    text-align: center;
    margin-bottom: 2rem;
}

.home-skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.home-skills__item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-basis: 100%;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.home-skills__item span {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.home-skills__link {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 auto 0.5rem;
}
.home-skills div {
    margin-top: 3.5rem;
    display: flex;
}

.home-skills__link:hover {
    background-color: #555;
}

@media (min-width: 768px) {
    .home-skills__item {
        flex-basis: calc(50% - 1rem);
    }
}

@media (min-width: 992px) {
    .home-skills__item {
        flex-basis: calc(33.3333% - 1rem);
    }
}

/* 

end of home section three -----SkILLS

*/

/*




home section four -----CUSTOMERS





*/

.customer {
    padding: 2rem 1rem;
    text-align: center;
}

.customer__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.customer__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.customer__logo {
    margin: 1rem;
    width: 100%;
    max-width: 20rem;
}

@media screen and (min-width: 768px) {
    .customer__logos {
        justify-content: space-between;
    }
}

/* 


*/

/** 


home section five -----CONTACT

*/

.contact {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: #f5f5f5;
}

.contact__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact__paragraph {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact__form-label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.contact__form-input,
.contact__form-textarea {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.contact__form-textarea {
    height: 8rem;
}

.contact__form-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact__form-button:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    .contact {
        width: 70%;
        display: flex;
        align-items: center;
        padding: 3rem 5rem;
        margin: 5rem auto;
    }

    .contact__title {
        margin-bottom: 0;
        margin-right: 5rem;
        margin-bottom: 3rem;
    }
    .contact__text {
        margin-bottom: 0;
        margin-right: 5rem;
        margin-bottom: 3rem;
    }

    .contact__form {
        flex: 1;
        margin-right: 5rem;
        width: 100%;
    }

    .contact__form-group {
        margin-bottom: 1.5rem;
    }

    .contact__form-input,
    .contact__form-textarea {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .contact__form-textarea {
        height: 12rem;
    }

    .contact__form-button {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }

    .contact__icons {
        margin-top: 0;
        width: 100%;
    }
}

/*


end of home section five -----CONTACT



*/

/* 

    Demos Page

*/

/*


Demos page - section one ----- HERO

*/

/* General styles */

.demos-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.demos-hero__image {
    width: 90%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.demos-hero__content {
    max-width: 600px;
    margin: 2rem;
}

.demos-hero__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.demos-hero__text {
    font-size: 16px;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .demos-hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .demos-hero__image {
        width: 40%;
        margin: 4rem 0 4rem 4rem;
    }

    .demos-hero__content {
        width: 50%;
        margin: 4rem;
    }
}

/* 

    Interest page 

*/

/*


Interest page - section one ----- HERO

*/

.interest-hero {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.interest-hero__content {
    flex-grow: 1;
}

.interest-hero__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.interest-hero__text {
    font-size: 1.2rem;
    color: #333;
}

@media screen and (min-width: 768px) {
    .interest-hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .interest-hero__image {
        width: 40%;
        margin: 4rem 0 4rem 4rem;
    }

    .interest-hero__content {
        width: 50%;
        margin: 4rem;
    }
}

/*

    Interest page - section two ----- JAPAN

*/

.interest-japan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.interest-japan__content {
    flex-grow: 1;
}
.interest-japan__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: wavy;
}

.interest-japan__text {
    font-size: 1.2rem;
    color: #333;
}
.interest-japan__images {
    display: grid;

    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.interest-japan__image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
@media screen and (min-width: 768px) {
    .interest-japan__images {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .interest-japan__image:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .interest-japan__image:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .interest-japan__image:nth-child(3) {
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .interest-japan__image:nth-child(4) {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .interest-japan__image:nth-child(5) {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .interest-japan__image:nth-child(6) {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .interest-japan__image:nth-child(7) {
        grid-column: 1/3;
        grid-row: 3/5;
    }
    .interest-japan__image:nth-child(8) {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .interest-japan__image:nth-child(9) {
        grid-column: 4/5;
        grid-row: 3/4;
    }

    .interest-japan__image:nth-child(10) {
        grid-column: 3/5;
        grid-row: 4/5;
    }
}

/*

    Interest page - section three ----- GAMES

*/
