/* Include your style in here for all pages. 
Extra style for cssdemo.html can be added in cssdemo.css */

/* 


general styles 



*/

/* :root {
    --primary-color: #5c7aff;
    --secondary-color: #00bfff;
    --background-color: #f1f0fb;
    --text-color: #333;
    --header-nav-color: #fff;
}

.dark-mode {
    --primary-color: #00bfff;
    --secondary-color: #008080;
    --background-color: #333;
    --text-color: #f5f5f5;
} */

/* Light theme */
:root {
    /* Colors */
    --background-color: #f1f0fb;
    --primary-color: #1f382c;
    --secondary-color: #0077b5;
    --tertiary-color: #febb2f;
    --light-color: #f5f5f5;
    --dark-color: #333;

    /* Fonts */
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Roboto', sans-serif;
}
.dark-mode {
    /* Colors */
    --background-color: #333;
    --primary-color: #03f882;
    --secondary-color: #9ca2ab;
    --tertiary-color: #febb2f;
    --light-color: #ffffff;
    --dark-color: #f5f5f5;

    /* Fonts */
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

/* Example usage */
body {
    font-family: var(--body-font);
    color: var(--dark-color);
    background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: 16px;
    box-sizing: border-box;
    max-width: 80%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1600px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
main {
    margin-top: 5rem;
}

/*






header 




*/
header {
    padding: 0.3 rem;
    text-align: center;
}
nav {
    max-width: 70%;
    margin: 0 auto;
}
.logo {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.logo a {
    text-decoration: none;
}
/* navigation style */

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.navbar li {
    margin-bottom: 0.625rem;
    list-style: none;
}

.navbar a {
    color: var(--header-nav-color);
    display: inline-block;
    padding: 0 0.4rem;
    text-decoration: none;
    border-radius: 0.3125rem;
    transition: background-color 0.8s ease;
}

.navbar a:hover {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.3rem;
    color: var(--secondary-color);
}

/* larger screens */
@media (min-width: 768px) {
    nav {
        padding: 1rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar {
        flex-direction: row;
        justify-content: center;
    }

    .navbar li {
        margin-right: 0.625rem;
        margin-bottom: 0;
    }

    .navbar a {
        width: auto;
        text-align: center;
    }
}
/* 




end of header 




*/

/* 




footer  






*/

.footer {
    padding: 1rem;
}

.footer__text {
    font-size: 0.875rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    text-align: center;
}

.footer__button {
    background-color: transparent;
    border: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.footer__button:hover {
    color: var(--primary-color);
}

#dark-mode-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.footer__icon-link {
    display: block;
    margin-right: 1rem;
}

.footer__icon {
    width: 2rem;
    height: 2rem;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;

        justify-content: space-between;
        align-items: center;
    }
    .footer__container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__text {
        text-align: left;
        margin-bottom: 0;
    }

    .footer__button {
        display: inline-block;
        margin: 0;
    }
}
/* 



end of footer 




*/

/*



Home Page 




*/

/* 



home- section one -----HERO



*/

#home-hero {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home-hero img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#home-hero p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

#home-hero button {
    background-color: var(--primary-color);

    text-decoration: none;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    padding: 1rem 2rem;
    border: none;
    margin-bottom: 1rem;
}

#home-hero a {
    display: inline-block;
    color: var(--light-color);
    text-decoration: none;
}

#home-hero button:hover {
    color: var(--light-color);
    background-color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
    #home-hero p {
        max-width: 70%;
        font-size: 1.5rem;
    }
}

/* 


    end of home- section one -----home-hero

*/

/*




home- section two -----home-services






*/
.home-services {
    padding: 2rem 0 0 0;
    margin: 2.5rem 0;
    background: linear-gradient(
        90deg,
        rgba(34, 109, 55, 0.884) 0%,
        rgba(148, 204, 233, 1) 100%
    );
    background: radial-gradient(
        circle,
        rgba(34, 109, 55, 0.884) 0%,
        rgba(148, 204, 233, 1) 100%
    );
}

.home-services__heading {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4.25rem;
    color: var(--light-color);
}

.home-services__grid {
    padding: 0 2rem;
}

.home-services__item {
    background-color: var(--light-color);
    color: var(--text-color);
    padding: 1rem;
    margin-bottom: 1.875rem;
    border: 0.0625rem solid var(--primary-color);
    border-radius: 0.3125rem;
}

.home-services__subheading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.home-services__description {
    font-size: 1rem;
    line-height: 1.5;
}
@media screen and (min-width: 768px) {
    .home-services {
        padding: 2rem;
    }
    .home-services__grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .home-services__item:nth-child(4) {
        grid-area: 2 / 1 / 4 / 2;
    }

    .home-services__item:nth-child(5) {
        grid-area: 2 / 2 / 4 / 4;
    }
}

/* 

end of home- section two -----SERVICES

*/

/* 


home section three -----SkILLS




*/

.home-skills {
    max-width: 1500px;
    margin: 0 auto;
}

.home-skills__heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.home-skills__description {
    text-align: center;
    margin-bottom: 2rem;
}

.home-skills__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.home-skills__item {
    background-color: var(--light-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    flex-basis: 100%;
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.home-skills__item span {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.home-skills__link {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 auto 0.5rem;
}
.home-skills div {
    margin-top: 3.5rem;
    display: flex;
}

.home-skills__link:hover {
    background-color: var(--secondary-color);
}

@media (min-width: 768px) {
    .home-skills__item {
        flex-basis: calc(50% - 1rem);
    }
}

@media (min-width: 992px) {
    .home-skills__item {
        flex-basis: calc(33.3333% - 1rem);
    }
}

/* 

end of home section three -----SkILLS

*/

/*




home section four -----CUSTOMERS





*/

.customer {
    padding: 2rem 1rem;
    text-align: center;
}

.customer__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.customer__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.customer__logo {
    margin: 1rem;
    width: 100%;
    max-width: 20rem;
}

@media screen and (min-width: 768px) {
    .customer__logos {
        justify-content: space-between;
    }
}

/* 


*/

/** 


home section five -----CONTACT

*/

.contact {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: var(--light-color);
}

.contact__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact__paragraph {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact__form-label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.contact__form-input,
.contact__form-textarea {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.contact__form-textarea {
    height: 8rem;
}

.contact__form-button {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact__form-button:hover {
    background-color: var(--secondary-color);
}

@media (min-width: 768px) {
    .contact {
        width: 70%;
        display: flex;
        align-items: center;
        padding: 3rem 5rem;
        margin: 5rem auto;
    }

    .contact__title {
        margin-bottom: 0;
        margin-right: 5rem;
        margin-bottom: 3rem;
    }
    .contact__text {
        margin-bottom: 0;
        margin-right: 5rem;
        margin-bottom: 3rem;
    }

    .contact__form {
        flex: 1;
        margin-right: 5rem;
        width: 100%;
    }

    .contact__form-group {
        margin-bottom: 1.5rem;
    }

    .contact__form-input,
    .contact__form-textarea {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .contact__form-textarea {
        height: 12rem;
    }

    .contact__form-button {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }

    .contact__icons {
        margin-top: 0;
        width: 100%;
    }
}

/*


end of home section five -----CONTACT



*/

/* 

   DEMOS PAGE

*/

/*


Demos page - section one ----- HERO

*/

/* General styles */

.demos-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.demos-hero__image {
    width: 90%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.demos-hero__content {
    max-width: 600px;
    margin: 2rem;
}

.demos-hero__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.demos-hero__text {
    font-size: 16px;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .demos-hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .demos-hero__image {
        width: 40%;
        margin: 4rem 0 4rem 4rem;
    }

    .demos-hero__content {
        width: 50%;
        margin: 4rem;
    }
}

/* 

    Interest page 

*/

/*


Interest page - section one ----- HERO

*/

.interest-hero {
    display: flex;
    max-width: 1600px;
    align-items: center;

    padding: 2rem;
    margin: 0 auto;

    border-radius: 20px;
}

.interest-hero__content {
    flex-grow: 1;
    margin: auto;
}
.interest-hero__title {
    text-align: center;
}

.interest-hero__text {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
    .interest-hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .interest-hero__content {
        width: 50%;
        margin: 4rem auto;
    }
    .interest-hero__text {
        text-align: center;
    }
}

/* 
    
        Interest page - section two ----- FACTS
    
*/
.interest-facts {
    margin: 0 auto;
    max-width: 1600px;
    padding: 2rem;
    border-radius: 5px;
}

.interest-facts__title {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

.interest-facts__list {
    list-style-type: decimal;
    padding-left: 1rem;
    margin-bottom: 0;
}

.interest-facts__list li {
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 1rem;
}
.interest-facts__list :nth-child(2n + 1) {
    background-color: var(--background-color);
    padding: 0.4rem;
    border-radius: 5px;
    color: var(--text-color);
}
.interest-facts__list :nth-child(2n + 1) li::before {
    color: var(--background-color);
    margin-right: 0.5rem;
}

/* 
    end of interest page - section two ----- FACTS

*/

/*

    Interest page - section three ----- GAMES

*/

/* 

qualifications page 


*/

.qualifications-main {
    margin-top: 7rem;
}

/*

        Qualifications page - section one ----- HERO
    
    */

.qualifications-hero {
    text-align: center;
    margin-bottom: 2rem;
}

.qualifications-hero__header {
    margin-bottom: 1rem;
}

.qualifications-hero__title {
    font-size: 2.5rem;
    color: #333;
}

.qualifications-hero__picture {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

.qualifications-hero__subtitle {
    font-size: 1.2rem;
    color: #333;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.qualification-table {
    margin-bottom: 2rem;
}

.qualification-table__heading {
    font-size: 1.6rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
}

.qualification-table__table {
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.qualification-table__table th,
.qualification-table__table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

.qualification-table__table th {
    font-weight: bold;
    background-color: #f2f2f2;
}

.qualification-skills {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qualification-skills__lists {
    text-align: center;
    margin: 0 2rem;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qualification-skills__lists div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qualification-skills h2 {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    margin-bottom: 1rem;
}

.qualifications-footer {
    padding: 1rem;
    text-align: center;
}
.qualifications-footer p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 1rem;
}
.qualifications-footer em {
    font-size: 1.2rem;
    color: var(--primary-color);
    line-height: 1.6;
    margin-bottom: 1rem;
}
